altgraph==0.16.1
appdirs==1.4.3
attrs==19.3.0
bandit==1.6.2
beautifulsoup4==4.8.1
black==19.10b0
bs4==0.0.1
certifi==2022.12.7
Click==7.0
Flask==1.1.1
Flask-WTF==0.14.2
Flask-WTF-Decorators==0.1.2
gitdb==4.0.5
GitPython==3.1.2
itsdangerous==1.1.0
Jinja2==2.10.3
macholib==1.11
MarkupSafe==1.1.1
pathspec==0.8.0
pbr==5.4.5
pickle-mixin==1.0.2
PyInstaller==3.5
PyYAML==5.3.1
regex==2020.5.7
six==1.14.0
smmap==3.0.4
soupsieve==1.9.5
stevedore==1.32.0
toml==0.10.0
typed-ast==1.4.1
urllib3==1.25.7
Werkzeug==0.16.0
WTForms==2.2.1
