<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/lent_list">Lent</a>
    <a href="/borrowed_list">Borrowed</a>
    <a href="/rules">Rules</a>
    <a href="/changes">Changes</a>
</div>
<body>
<br><br>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
{{ message }}
{% endfor %}
{% endif %}
{% endwith %}

<p>{% block content %} {% endblock %} </p>


</body>
