{% extends "base_page.html" %}

{% block content %}

<h2>Changes</h2>
<br><br>
<ul>
    <li>3rd May 2020 - Additional Functionality</li>
    <ol>
        <li>Added password reset functionality</li>
    </ol><br>
    <li>22nd April 2020 - Additional Functionality</li>
    <ol>
        <li>Added sorting of results tables</li>
        <li>Added search function on all screens</li>
        <li>Refactored code to improve readability, remove duplication and improve maintainability</li>
    </ol><br>

    <li>18th April 2020 - Fix issues</li>
    <ol>
        <li>Database connections not getting closed</li>
        <li>Added search functionality</li>
        <li>Added change log to site</li>
    </ol>

<br>
    <li>17th April 2020 - Initial deployment</li>

</ul>
{% endblock %}