{% extends "base_page.html" %}

{% block content %}

<div class="row">
    <div class="column left">
        <h2>DVDs</h2>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {{ table }}
    </div>
    <div class="column right box_medium">
        {% include "right_column.html" %}
        {% block column %}
        {% endblock %}

    </div>
</div>
{% endblock %}