{% extends "base_page.html" %}

{% block content %}

        <h2>New Password:</h2>

    <form action="{{ url_for('reset_with_token', token=token) }}" method="POST">

        {{ form.hidden_tag() }}
        <table>
            <tr>
                <td> {{ form.password.label }} </td>
                <td> {{ form.password }}</td>
            </tr>
            <tr>
                <td> {{ form.confirm.label }} </td>
                <td> {{ form.confirm }} </td>
            </tr>
        <tr> <td> <button class="btn btn-sm btn-success" type="submit">Update</button> </td> </tr>
        </table>

    </form>


{% endblock %}