{% extends "base_page.html" %}

{% block content %}

<h1> Lending Library Rules </h1>
<h5> By registering and using this database you agree by the following rules </h5>

<p> Remember, all DVDs and Magazines are being lent on a goodwill basis.  I think we all know each other so am sure that
these rules are not actually necessary but to avoid doubt and set a few ground rules I suggest the following: </p>
<ul>
    <li>If you borrow a DVD/Magazine you are responsible for its condition.  If you damage it or lose it then the item should be replaced by you (the borrower)</li>
    <li>An lender can decline to lend an item even though it is on the list.  Clicking the 'Borrow' button is more of a request to borrow</li>
    <li>If multiple copies of the same item exist that you wish to borrow, please select the one nearest to you that is available to avoid unnecessary travel</li>
    <li>Unless agreed by the parties, the lender shall deliver the item, the borrower return it.  In the event that either party does not know the other's address, please use WhatsApp to exchange addresses</li>
    <li>Please observe all social distancing/no-contact rules</li>
</ul>

{% endblock %}